/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", serif;
  color: #433c32;
  background-color: #fff;
  padding: 20px;
}

.margin-bottom-m {
  margin-bottom: 26px !important;
}

/* #E0C9A6 */
.container {
  max-width: 800px;
  margin: auto;
  background-color: #eee7d7;
  padding: 20px;
  border: 1px solid #e6d4b8;
}

/* Newspaper Name Heading */
.newspaper-name {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
  padding-bottom: 20px;
  font-family: "Old Standard TT", serif;
  border-bottom: 2px solid #433c32;
}

/* Headline */
.headline {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 24px 0 0 0;
  padding: 20px;
  border-top: 2px solid #433c32;
}

.text-img-box {
  display: flex;
  gap: 36px;
  padding: 5px 20px;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

/* Subheadings */
.subheading {
  font-size: 22px;
  font-weight: bold;
  color: #433c32;
  margin: 20px 0 16px 0;
  border-bottom: 2px solid #b3a185;
}

/* Article Text */
.article-text {
  margin-bottom: 8px;
  font-size: 16px;
  text-align: justify;
}

.article-section-box {
  padding: 0px 20px;
}

/* Editor Section */
.editor-section {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  font-style: italic;
  text-align: right;
  margin-top: 20px;
}

/* Decorative Elements */
.decorative-line {
  border-top: 1px dashed #433c32;
  margin: 10px 0;
}

.landesgerich-img {
  /* Placeholder for graphic */
  width: 95%;
  height: 400px;
  object-fit: cover;
  mix-blend-mode: multiply;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.sepia {
  filter: saturate(150%) sepia(150%) contrast(100%) saturate(50%);
}

.scale-of-justice {
  display: block; /* Make the image a block-level element */
  margin: 0 auto;
  width: 85%;
  height: 170px;
  filter: grayscale(100%);
}

.lion-img {
  margin-top: 28px;
  display: block; /* Make the image a block-level element */
  width: 60%;
  height: 180px;
}

.image-reference {
  margin-left: 20px;
  margin-bottom: 8px;
  font-size: 12px; /* Smaller font size for reference */
  text-align: left; /* Center-align the reference text */
  display: block; /* Ensures it's a block-level element */
}

.image-reference a {
  color: #333;
}

.rigth {
  text-align: right;
  margin-right: 34px;
}

.consequences {
  margin-top: 36px;
  gap: 18px;
}

.references {
  font-size: 14px;
  margin-top: 20px;
}

.references a {
  text-decoration: none;
  color: blue; /* Or any color of your choice */
}

.references div {
  margin-bottom: 5px; /* Space between each reference */
}
